In [1]:
from faker import Faker 
from pydbgen import pydbgen
import pandas as pd 
import random
import datetime
from datetime import date
from sqlalchemy import create_engine

In [2]:
def courses(no_of_rows,d_now):
    fake = Faker()
    
    df = pd.DataFrame(([fake.profile() for i in range(no_of_rows)]))  #Generating Raw data 
    df["CourseID"] = df['sex'].astype(str)+ df["ssn"]         #generating course ID by slicing and mixing few columns
    df['CourseID'] =df.CourseID.str.slice(0, 10)       #only first time can generate unique course_id's upto 1000's       
    df2 = df['CourseID']
    df2 = df.iloc[:, [0]]                                      #taking job as Course_Name
    plt = []
    duration_ = []
    u = []
    tgs = []
    platform = ('IK01','IK02','IK03')
    dur = ('202h','490h 45m','600h 00m','300h 45m','550h 00m','480h 00m','450h', '100h')
    for i in range(len(df2.job)): 
        plt.append(random.choice(platform)) 
        duration_.append(random.choice(dur)) 
        tgs.append(fake.sentence())       
        u.append(fake.url())
    d = df2.assign(Course_ID=df['CourseID'], Platform_ID = plt, Duration = duration_,Creation_Date = d_now , Tags = tgs, Photo = u)
    df3 = d.rename(columns={'job': 'Course_Name'})         #renaming column
    save_db1(df3)
    
def save_db1(df3):
    engine = create_engine('sqlite:///olearn.db', echo=True)
    sqlite_connection = engine.connect()

    sqlite_table = "Course"
    df3.to_sql(sqlite_table, sqlite_connection, if_exists='append', index=False)

    sqlite_connection.close()
    print("Data for courses is successfully Generated and Inserted!")
   
    
x = input('Enter number of rows to be generated:')
y = date.today() 
courses(int(x),y)

Enter number of rows to be generated:10
2022-08-04 00:12:58,282 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Course")
2022-08-04 00:12:58,283 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-04 00:12:58,285 INFO sqlalchemy.engine.Engine INSERT INTO "Course" ("Course_Name", "Course_ID", "Platform_ID", "Duration", "Creation_Date", "Tags", "Photo") VALUES (?, ?, ?, ?, ?, ?, ?)
2022-08-04 00:12:58,285 INFO sqlalchemy.engine.Engine [generated in 0.00052s] (('Air broker', 'F563-15-19', 'IK02', '480h 00m', '2022-08-04', 'Agent opportunity economy board us sign.', 'http://stephens-ortega.net/'), ('Engineer, maintenance', 'F550-60-98', 'IK01', '550h 00m', '2022-08-04', 'Movement first price.', 'http://www.shepherd.com/'), ('Chartered certified accountant', 'M391-74-10', 'IK02', '202h', '2022-08-04', 'Fact away half call.', 'http://harvey.com/'), ('Pension scheme manager', 'M427-05-75', 'IK02', '480h 00m', '2022-08-04', 'Let may including century current human.', 'https://nelson.com/'), ('Radiographer, therapeutic', 'M217-26-49', 'IK02', '300h 45m', '2022-08-04', 'Trial tend try.', 'http://brown.com/'), ('Charity officer', 'M528-26-92', 'IK02', '202h', '2022-08-04', 'Hour back son discussion drop space.', 'http://baker.com/'), ('Video editor', 'M470-27-14', 'IK02', '550h 00m', '2022-08-04', 'Investment put close population manager many.', 'https://www.tate.org/'), ('Architectural technologist', 'F009-59-26', 'IK03', '100h', '2022-08-04', 'Short front wrong treat.', 'https://price.com/'), ('Chief Strategy Officer', 'F763-72-36', 'IK01', '480h 00m', '2022-08-04', 'Ability education authority character music.', 'https://thompson.com/'), ('Theme park manager', 'M888-28-39', 'IK03', '490h 45m', '2022-08-04', 'Bar back show.', 'http://www.hernandez-burnett.info/'))
2022-08-04 00:12:58,286 INFO sqlalchemy.engine.Engine COMMIT
2022-08-04 00:12:58,298 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-08-04 00:12:58,298 INFO sqlalchemy.engine.Engine [raw sql] ()
Data for courses is successfully Generated and Inserted!