In [23]:
from faker import Faker 
import pandas as pd 
import random
import datetime
from datetime import date
from sqlalchemy import create_engine
import sqlite3
from pydbgen import pydbgen
from datetime import datetime

# Creting Platforms with necessary details just to make sure data generated should be meaningful further data -> number of courses will be calculated and inserted with the help of trigger.

In [ ]:

def save_db1(df):
    engine = create_engine('sqlite:///olearn.db', echo=True)
    sqlite_connection = engine.connect()

    sqlite_table = "Platform"
    df.to_sql(sqlite_table, sqlite_connection, if_exists='append', index=False)

    sqlite_connection.close()
    print("Data for Plaform is  successfully Generated and Inserted!")
    

#creting main Platforms with necessary details just to make sure data generated should be meaningful
data = {'Platform_ID': ['IK01','IK02','IK03'],
        'Platform_Name': ['Coursera', 'Udemy', 'LinkedIn'],
        'Hyperlink_Path': ['https://www.coursera.org/', 'https://www.udemy.com/', 'https://www.linkedin.com/learning/']}
    
df = pd.DataFrame(data)
save_db1(df)

# Query for Creating Trigger which counts and saves the number of Courses on respective platforms

In [ ]:
#CREATE TRIGGER Course_count
#AFTER INSERT ON Course
#	BEGIN
#		UPDATE Platform SET Course = Course + 1	WHERE Platform_ID= NEW.Platform_ID;
#	END;

# Generating Course table randomly

In [21]:
def courses(no_of_rows,d_now):
    fake = Faker()
    
    df = pd.DataFrame(([fake.profile() for i in range(no_of_rows)]))  #Generating Raw data 
    df["CourseID"] = df['sex'].astype(str)+ df["ssn"]         #generating course ID by slicing and mixing few columns
    df['CourseID'] =df.CourseID.str.slice(0, 10)       #only first time can generate unique course_id's upto 1000's       
    df2 = df['CourseID']
    df2 = df.iloc[:, [0]]                                      #taking job as Course_Name
    plt = []
    duration_ = []
    u = []
    tgs = []
    platform = ('IK01','IK02','IK03')
    dur = ('2h','4h 45m','6h 00m','3h 45m','5h 00m','4h 00m','45m', '1h')
    for i in range(len(df2.job)): 
        plt.append(random.choice(platform)) 
        duration_.append(random.choice(dur)) 
        tgs.append(fake.sentence())       
        u.append(fake.url())
    d = df2.assign(Course_ID=df['CourseID'], Platform_ID = plt, Duration = duration_,Creation_Date = d_now , Tags = tgs, Photo = u)
    df3 = d.rename(columns={'job': 'Course_Name'})         #renaming column
    save_db1(df3)
    
def save_db1(df3):
    engine = create_engine('sqlite:///olearn.db', echo=True)
    sqlite_connection = engine.connect()

    sqlite_table = "Course"
    df3.to_sql(sqlite_table, sqlite_connection, if_exists='append', index=False)

    sqlite_connection.close()
    print("Data for courses is successfully Generated and Inserted!")
   
    
x = input('Enter number of rows to be generated:')
y = date.today() 
courses(int(x),y)

Enter number of rows to be generated:100
2022-08-04 12:43:11,764 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Course")
2022-08-04 12:43:11,765 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-04 12:43:11,767 INFO sqlalchemy.engine.Engine INSERT INTO "Course" ("Course_Name", "Course_ID", "Platform_ID", "Duration", "Creation_Date", "Tags", "Photo") VALUES (?, ?, ?, ?, ?, ?, ?)
2022-08-04 12:43:11,767 INFO sqlalchemy.engine.Engine [generated in 0.00079s] (('Financial controller', 'M003-56-69', 'IK02', '6h 00m', '2022-08-04', 'Relationship at church hair improve offer.', 'https://www.stewart.com/'), ('Designer, television/film set', 'F125-11-18', 'IK03', '3h 45m', '2022-08-04', 'Her war painting couple.', 'https://www.carter.com/'), ('Scientist, marine', 'F756-36-06', 'IK01', '2h', '2022-08-04', 'Respond small work change evening.', 'https://www.garza.com/'), ('Technical sales engineer', 'M269-10-72', 'IK03', '5h 00m', '2022-08-04', 'Ahead various level reduce foreign senior style.', 'https://www.gutierrez.com/'), ('Designer, blown glass/stained glass', 'F581-87-43', 'IK01', '4h 45m', '2022-08-04', 'Art region throughout air provide.', 'https://www.sanchez.com/'), ('Scientist, research (physical sciences)', 'M306-33-63', 'IK01', '6h 00m', '2022-08-04', 'Population throughout happy no put.', 'http://www.phillips.org/'), ('Civil engineer, consulting', 'F859-63-64', 'IK03', '45m', '2022-08-04', 'Partner successful question defense key.', 'https://johnson.com/'), ('Clinical biochemist', 'F507-18-12', 'IK02', '5h 00m', '2022-08-04', 'Later sure politics what according simply.', 'http://taylor.com/')  ... displaying 10 of 100 total bound parameter sets ...  ('Microbiologist', 'F228-31-75', 'IK03', '3h 45m', '2022-08-04', 'If indeed himself for.', 'https://price.com/'), ('Jewellery designer', 'F345-38-12', 'IK01', '1h', '2022-08-04', 'Cut general near study.', 'http://brooks.com/'))
2022-08-04 12:43:11,769 INFO sqlalchemy.engine.Engine COMMIT
2022-08-04 12:43:11,781 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-08-04 12:43:11,781 INFO sqlalchemy.engine.Engine [raw sql] ()
Data for courses is successfully Generated and Inserted!

# Generating Employers_Users table randomly

In [24]:
def users_table(no_of_rows,dte):
    
    fake = Faker()
    ourDB= pydbgen.pydb()    
    df = pd.DataFrame(([fake.profile() for i in range(no_of_rows)]))
    df_new = df.iloc[:, [2,7]]    
    level = ('Beginner','Intermediate','Professional')    
    df_new.loc[:, ('ssn','username')]
    df_new = df_new.rename(columns={'ssn': 'Employer_Number','username':'Username'})    
    lvl= []
    pwd = []
    for i in range(len(df_new.Employer_Number)): 
        lvl.append(random.choice(level))
        pwd.append(fake.password())
    save_df = df_new.assign(Level= lvl,Creation_date=dte,Password = pwd)
    save_db2(save_df)


def save_db2(save_df):
    
    engine = create_engine('sqlite:///olearn.db', echo=True)
    sqlite_connection = engine.connect()
    
    sqlite_table = "Employers_Users"
    save_df.to_sql(sqlite_table, sqlite_connection, if_exists='append', index=False)
    
    sqlite_connection.close()
    print("Data for users is successfully Generated and Inserted!")

no_of_rows = input('Enter number of rows to be generated:')
dte = date.today()
users_table(int(no_of_rows),dte)

Enter number of rows to be generated:5
2022-08-04 16:00:41,325 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Employers_Users")
2022-08-04 16:00:41,326 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-04 16:00:41,327 INFO sqlalchemy.engine.Engine INSERT INTO "Employers_Users" ("Employer_Number", "Username", "Level", "Creation_date", "Password") VALUES (?, ?, ?, ?, ?)
2022-08-04 16:00:41,328 INFO sqlalchemy.engine.Engine [generated in 0.00048s] (('645-05-9995', 'helen48', 'Beginner', '2022-08-04', 'Y0#8G_n2M('), ('894-67-4921', 'janejackson', 'Beginner', '2022-08-04', 'r80ZhLfE*)'), ('164-99-7216', 'greengregory', 'Professional', '2022-08-04', '$u^INxTh86'), ('046-54-2376', 'johnhenry', 'Intermediate', '2022-08-04', 'nU346iOi^a'), ('522-15-9549', 'david28', 'Intermediate', '2022-08-04', 'f+5SmxOcCO'))
2022-08-04 16:00:41,328 INFO sqlalchemy.engine.Engine COMMIT
2022-08-04 16:00:41,340 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-08-04 16:00:41,341 INFO sqlalchemy.engine.Engine [raw sql] ()
Data for users is successfully Generated and Inserted!


# Generating ongoing_training table randomly

In [18]:

def ongoing_training(no_of_rows):
    fake = Faker()
    df = pd.DataFrame(([fake.profile() for i in range(no_of_rows)]))  #Generating Raw data  
    df['job'] = df.job.str.slice(0, 4)
    df['ssn'] = df.ssn.str.slice(4, 10)
    df['Training_ID']= df['job'].astype(str)+ df['ssn']         #generating Training ID by slicing and mixing few columns     
    df = df.iloc[:, [13]]

    # Create a SQL connection to our SQLite database
    con = sqlite3.connect('olearn.db')
    cur = con.cursor()
    CourseID = []
    UserID = []

    for row in cur.execute('SELECT Course_ID FROM Course;'):
        CourseID.append(row)               #Fetching Course ID from User's tabel
    for row1 in cur.execute('SELECT User_ID FROM Employers_Users;'):
        UserID.append(row1)                #Fetching User ID from User's tabel

    CourseID = [item for t in CourseID for item in t]     #converting list of tuples into LIST
    UserID = [item for t in UserID for item in t]        #converting list of tuples into LIST

    status = ('Completed','Pending')
    completion_per = ('9%','60%','87%','30%','22%','3%','100%','60%')
    start_date = []
    comp_date  = []
    last_up = []
    userid_rand = []
    course_rand = []
    comp_per_rand = []
    status_rand = []

    for i in range(no_of_rows):
        start_date.append(fake.date_between_dates(date_start=datetime(2016,1,1), date_end=datetime(2018,12,31)))
        comp_date.append(fake.date_between_dates(date_start=datetime(2019,5,1), date_end=datetime(2021,12,31)))
        last_up.append(fake.date_between_dates(date_start=datetime(2021,12,31), date_end='now'))
        userid_rand.append(random.choice(UserID)) 
        course_rand.append(random.choice(CourseID))
        comp_per_rand.append(random.choice(completion_per))
        status_rand.append(random.choice(status))

    final_df = df.assign(User_ID = userid_rand, Course_ID = course_rand, Status = status_rand , 
    Completion_Percentage = comp_per_rand, Start_Date = start_date, Finish_Date = comp_date, Last_Update = last_up)
    save_db3(final_df)

def save_db3(final_df): 
    engine = create_engine('sqlite:///olearn.db', echo=True)
    sqlite_connection = engine.connect()

    sqlite_table = "Ongoing_Training"
    final_df.to_sql(sqlite_table, sqlite_connection, if_exists='append', index=False)

    sqlite_connection.close()
    print("Ongoing Training Data successfully Generated and Inserted!")    
    

no_of_rows = input('Enter number of rows to be generated:')
ongoing_training(int(no_of_rows))

Enter number of rows to be generated:3
2022-08-04 12:35:41,370 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Ongoing_Training")
2022-08-04 12:35:41,371 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-04 12:35:41,372 INFO sqlalchemy.engine.Engine INSERT INTO "Ongoing_Training" ("Training_ID", "User_ID", "Course_ID", "Status", "Completion_Percentage", "Start_Date", "Finish_Date", "Last_Update") VALUES (?, ?, ?, ?, ?, ?, ?, ?)
2022-08-04 12:35:41,373 INFO sqlalchemy.engine.Engine [generated in 0.00057s] (('Plan78-599', 13600, 'M143-52-80', 'Pending', '60%', '2018-07-21', '2021-06-28', '2022-06-17'), ('Engi18-886', 13591, 'M327-18-42', 'Completed', '9%', '2018-03-12', '2021-01-06', '2022-06-01'), ('Poli95-263', 13559, 'F453-90-30', 'Completed', '60%', '2017-06-24', '2021-03-25', '2022-03-05'))
2022-08-04 12:35:41,374 INFO sqlalchemy.engine.Engine COMMIT
2022-08-04 12:35:41,385 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-08-04 12:35:41,386 INFO sqlalchemy.engine.Engine [raw sql] ()
Ongoing Training Data successfully Generated and Inserted!

# Generating Certification table randomly

In [20]:

def certificates(no_of_rows):
    fake = Faker()
    df = pd.DataFrame(([fake.profile() for i in range(no_of_rows)]))  #Generating Raw data  
    df['job'] = df.job.str.slice(0, 2)
    df['ssn'] = df.ssn.str.slice(3, 10)
    df['Certification_ID']= df['job'].astype(str)+ df['ssn']         #generating Training ID by slicing and mixing few columns     
    df = df.iloc[:, [13]]

    # Create a SQL connection to our SQLite database
    con = sqlite3.connect('olearn.db')
    cur = con.cursor()
    CourseID = []
    UserID = []


    for row in cur.execute('SELECT Course_ID FROM Course;'):
        CourseID.append(row)               #Fetching Course ID from User's tabel
    for row1 in cur.execute('SELECT User_ID FROM Employers_Users;'):
        UserID.append(row1)                #Fetching User ID from User's tabel  

    CourseID = [item for t in CourseID for item in t]     #converting list of tuples into LIST
    UserID = [item for t in UserID for item in t]        #converting list of tuples into LIST

    completion_dur = ('400days','610days','365days','589days','458days','301days','629days','702das')
    comp_date  = []       
    userid_rand = []
    course_rand = []
    comp_dur_rand = []


    for i in range(no_of_rows):
        comp_date.append(fake.date_between_dates(date_start=datetime(2021,12,31), date_end='now'))
        userid_rand.append(random.choice(UserID)) 
        course_rand.append(random.choice(CourseID))
        comp_dur_rand.append(random.choice(completion_dur))

    final_df_ = df.assign(User_ID = userid_rand, Course_ID = course_rand, Completion_Duration = comp_dur_rand, 
    Completion_Date = comp_date)
    save_db4(final_df_)


def save_db4(final_df_):

    engine = create_engine('sqlite:///olearn.db', echo=True)
    sqlite_connection = engine.connect()

    sqlite_table = "certification_ID"
    final_df_.to_sql(sqlite_table, sqlite_connection, if_exists='append', index=False)

    sqlite_connection.close()
    print("Certification Data successfully Generated and Inserted!")    

    
no_of_rows = input('Enter number of rows to be generated:')
certificates(int(no_of_rows))

Enter number of rows to be generated:5
2022-08-04 12:38:00,449 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("certification_ID")
2022-08-04 12:38:00,449 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-04 12:38:00,450 INFO sqlalchemy.engine.Engine INSERT INTO "certification_ID" ("Certification_ID", "User_ID", "Course_ID", "Completion_Duration", "Completion_Date") VALUES (?, ?, ?, ?, ?)
2022-08-04 12:38:00,451 INFO sqlalchemy.engine.Engine [generated in 0.00041s] (('Pr-34-504', 13610, 'F646-66-81', '629days', '2022-08-01'), ('Le-92-010', 13559, 'M532-53-50', '365days', '2022-05-05'), ('Ho-22-613', 13589, 'F064-12-28', '301days', '2022-06-19'), ('Ha-81-153', 13554, 'M549-62-35', '301days', '2022-01-26'), ('En-24-773', 13590, 'F631-47-88', '301days', '2022-05-06'))
2022-08-04 12:38:00,451 INFO sqlalchemy.engine.Engine COMMIT
2022-08-04 12:38:00,463 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-08-04 12:38:00,463 INFO sqlalchemy.engine.Engine [raw sql] ()
Certification Data successfully Generated and Inserted!

# Generating Review table randomly & LIKE/DISLIKE column with Trigger based on some condition to make data meaningful

In [16]:

def Reviews(no_of_rows):     
    fake = Faker()

    # Create a SQL connection to our SQLite database
    con = sqlite3.connect('olearn.db')
    cur = con.cursor()
    CourseID = []
    UserID = []


    for row in cur.execute('SELECT Course_ID FROM Course;'):
        CourseID.append(row)               #Fetching Course ID from User's tabel
    for row1 in cur.execute('SELECT User_ID FROM Employers_Users;'):
        UserID.append(row1)                #Fetching User ID from User's tabel  
    con.close()
    CourseID = [item for t in CourseID for item in t]     #converting list of tuples into LIST
    UserID = [item for t in UserID for item in t]        #converting list of tuples into LIST

    feedbk = ('Satisfied','Very Satisfied','Somehow Satisfied','Needs Improvement!','Obsolete!')

    ranking = ('1','2','3','4','5')

    userid_rand = []
    course_rand = []
    feedbk_rand = []
    ranking_rand = []
    inp_feedbk = []

    for i in range(no_of_rows):

        userid_rand.append(random.choice(UserID)) 
        course_rand.append(random.choice(CourseID))
        inp_feedbk = random.choice(feedbk)
        feedbk_rand.append(inp_feedbk)    
        #ranking_rand.append(random.choice(ranking))
        if inp_feedbk == 'Obsolete!':
            ranking_rand.append('1')
        elif inp_feedbk == 'Needs Improvement!':
            ranking_rand.append('2')
        elif inp_feedbk == 'Somehow Satisfied':
            ranking_rand.append('3')
        elif inp_feedbk == 'Satisfied':
            ranking_rand.append('4')
        else: #random.choice(feedbk) == 'Very Satisfied':
            ranking_rand.append('5')
    #print(ranking_rand)
    df = pd.DataFrame()
    final_dff = df.assign(User_ID = userid_rand, Course_ID = course_rand, Feedback = feedbk_rand, 
    Ranking_Score = ranking_rand)
    db_save_5(final_dff)

    
def db_save_5(final_dff):
    engine = create_engine('sqlite:///olearn.db', echo=True)
    sqlite_connection = engine.connect()

    sqlite_table = "Review"
    final_dff.to_sql(sqlite_table, sqlite_connection, if_exists='append', index=False)

    sqlite_connection.close()
    print("Reviews Data successfully Generated and Inserted!")    

    
no_of_rows = input('Enter number of rows to be generated:')
Reviews(int(no_of_rows))

Enter number of rows to be generated:5
2022-08-04 12:32:09,229 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Review")
2022-08-04 12:32:09,229 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-04 12:32:09,231 INFO sqlalchemy.engine.Engine INSERT INTO "Review" ("User_ID", "Course_ID", "Feedback", "Ranking_Score") VALUES (?, ?, ?, ?)
2022-08-04 12:32:09,232 INFO sqlalchemy.engine.Engine [generated in 0.00068s] ((13591, 'M148-33-59', 'Obsolete!', '1'), (13576, 'M441-16-17', 'Somehow Satisfied', '3'), (13550, 'F716-97-00', 'Needs Improvement!', '2'), (13588, 'M564-46-15', 'Obsolete!', '1'), (13589, 'F324-47-03', 'Somehow Satisfied', '3'))
2022-08-04 12:32:09,232 INFO sqlalchemy.engine.Engine COMMIT
2022-08-04 12:32:09,244 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-08-04 12:32:09,245 INFO sqlalchemy.engine.Engine [raw sql] ()
Reviews Data successfully Generated and Inserted!

# Query for Creating Trigger which gives LIKE?DISLIKE based on FEEDBACK column

In [ ]:
# --FOR Review CREATING TRIGGER -> Like/Dislike
 
#CREATE TRIGGER dislike_
#AFTER INSERT ON Review
#	BEGIN
#		 UPDATE Review SET Like_Dislike = "Dislike" WHERE Feedback LIKE "%!";
#	END;

#CREATE TRIGGER like_
#AFTER INSERT ON Review
#	BEGIN
#		 UPDATE Review SET Like_Dislike = "Like" WHERE Feedback LIKE "%Satisfied%";
#	END;

# Generating Pictures table ->COURSE_ID & Platform_ID with the help of trigger

In [ ]:

#CREATE TRIGGER picture_tab
#AFTER INSERT ON Course
#	BEGIN
#		 INSERT INTO Pictures (Course_ID, Platform_ID) VALUES (NEW.Course_ID, NEW.Platform_ID);
#	END;