In [1]:
from faker import Faker 
import pandas as pd 
import random
import datetime
from datetime import date
from sqlalchemy import create_engine
import sqlite3
from pydbgen import pydbgen
from datetime import datetime

# Insertion Function with different parameters For Each Table With missing parameters (column values) as well

In [2]:
#!/usr/bin/python

import sqlite3


def data(db,table_name,no,Uname,U_ID,C_ID):
    
    conn = sqlite3.connect(db)
    print ("Opened database successfully");
    
    ad = (no,date.today(),Uname,"pd6a654ss","TEST")
    ad1 = (no,Uname,'TEST-IK','2222h',date.today(),'Test-Tag')
    ad3 = (U_ID,C_ID,'Test-Satisfied')
    ad4 = ('CPP-TTEST',U_ID,C_ID,'4444days',date.today())
    ad5 = ('CP-TEST',U_ID,C_ID,'Completed','50%','2017-02-14')
    
    if table_name == 'Employers_Users' :
    
        conn.execute('''INSERT INTO '''+table_name+''' 
                    (Employer_Number, Creation_date, Username, Password, Level)
                    VALUES (? ,? , ? , ? , ?)''', ad)
        conn.commit()

        
    elif table_name == 'Course' :
    
        conn.execute('''INSERT INTO '''+table_name+''' 
                    (Course_ID, Course_Name, Platform_ID, Duration, Creation_Date, Tags)
                    VALUES (? ,? ,? , ? , ? , ?)''', ad1)
        conn.commit()

        
    elif table_name == 'Review' :
    
        conn.execute('''INSERT INTO '''+table_name+''' 
                    (User_ID, Course_ID, Feedback)
                    VALUES (? ,? , ? )''', ad3)
        conn.commit()
 
        
    elif table_name == 'certification_ID' :
    
        conn.execute('''INSERT INTO '''+table_name+''' 
                    (Certification_ID, User_ID, Course_ID, Completion_Duration, Completion_Date)
                    VALUES (? ,? , ? , ? , ?)''', ad4)
        conn.commit()

        
    elif table_name == 'Ongoing_Training' :
    
        conn.execute('''INSERT INTO '''+table_name+''' 
                    (Training_ID, User_ID, Course_ID, Status, Completion_Percentage, 'Start_Date')
                    VALUES (? , ? ,? , ? , ? , ? )''', ad5)
        conn.commit()

        
    else:
        print("Error 202!")
    
    
    conn.close()
    print (table_name +" new row inserted successfully"); 


def main():
    db = 'olearn.db'
    table_val = input('Choose the table number you want to insert data:\n 1- User-Employers \n 2- Course \n 3- Review \n 4- Certification ID \n 5- Ongoing Training \n') 
    if table_val == '1':
        table_name = 'Employers_Users' 
    elif table_val == '2':
        table_name = 'Course'
    elif table_val == '3':
        table_name = 'Review'
    elif table_val == '4':
        table_name = 'certification_ID'
    elif table_val == '5':
        table_name = 'Ongoing_Training'
    else:
        print('No such table in databse')
        
    Uname = "tedst1"
    no = '1-te2st'
    U_ID = '2111'
    C_ID = 'CAPZX'
    data(db,table_name,no,Uname,U_ID,C_ID)

if __name__=="__main__":
    main()

Choose the table number you want to insert data:
 1- User-Employers
 2- Course
 3- Review
 4- Certification ID
 5- Ongoing Training
4
Opened database successfully
certification_ID new row inserted successfully